html {
    margin: 1%;
}
.bloghead {
    background-image: url(../images/blogheader8.png);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100%;
}

.heading1 {
    position: relative;
    top: 30vh;
    left: 10%;
}

.heading1 h1 {
    font-family: 'Lora', serif;
}

.latest-blogs {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    padding: 15px 20px;
    background-color: #00305b;
    border-radius: 100px;
    color: white;
    font-family: 'Lora', serif;
    font-weight: 600;
    width: max-content;
}
@media screen and (max-width: 1200px) {
    .bloghead{
        background-position: 0% 9%;
        background-size: 100%;
        height: 60vh;
    }
    .latest-blogs{
        margin-top: 30px;
    }
}
@media screen and (max-width: 1000px) {
    .bloghead{
        background-position: 0% 9%;
        background-size: 100%;
        height: 55vh;
    }
    .latest-blogs{
        margin-top: 30px;
    }
}
@media screen and (max-width: 881px) {
    .bloghead{
        background-position: 0% 9%;
        background-size: 100%;
        height: 50vh;
    }
    .latest-blogs{
        margin-top: 30px;
    }
}
@media screen and (max-width: 706px) {
    .bloghead{
        background-position: 0% 9%;
        background-size: 100%;
        height: 39vh;
    }
    .latest-blogs{
        margin-top: 30px;
    }
}
@media screen and (max-width: 581px) {
    .bloghead{
        background-position: 0% 9%;
        background-size: 100%;
        height: 35vh;
    }
    .latest-blogs{
        margin-top: 30px;
    }
}
@media screen and (max-width: 451px) {
    .bloghead{
        background-position: 0% 9%;
        background-size: 100%;
        height: 30vh;
    }
    .latest-blogs{
        margin-top: 20px;
    }
}
@media screen and (max-width: 351px) {
    .bloghead{
        background-position: 0% 9%;
        background-size: 100%;
        height: 25vh;
    }
    .latest-blogs{
        margin-top: 5px;
    }
}
.row {
    width: 100%;
}

.left {
    width: 20%;
    float: left;
}

.right {
    width: 80%;
    /* float: right; */
    display: inline-block;
}

.latestlist {
    width: 80%;
    position: relative;
    margin-top: 30px;
    margin-left: 10%;
    /*width: 80%;*/
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.blogc {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: none !important;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.tag{
    margin-left: 5px;
}

.show2{
    display: flex !important;
}

.btnf {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    width: 100%;
  }
.btnf:hover {
    background-color: #ddd;
} 
.btnf.activef {
    background-color: #00305b;
    color: white;
  }
.filteropt{
    text-align: center;
    font-weight: 600;
}
