.bloghead {
    background-image: url(../images/blogheader.png);
    min-height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
}

.heading1 {
    position: relative;
    top: 30vh;
    left: 10%;
}

.heading1 h1 {
    font-family: 'Lora', serif;
}

.latest-blogs {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    padding: 15px 20px;
    background-color: #00305b;
    border-radius: 100px;
    color: white;
    font-family: 'Lora', serif;
    font-weight: 600;
    width: max-content;
}

.row {
    width: 100%;
}

.left {
    width: 20%;
    float: left;
}

.right {
    width: 80%;
    float: right;
    display: inline-block;
}

.latestlist {
    width: 80%;
    position: relative;
    margin-top: 30px;
    margin-left: 10%;
    /*width: 80%;*/
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.blogc {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.tag{
    margin-left: 5px;
}